<nav class="navbar navbar-light border-bottom">
    <div class="container">
        <a routerLink="/" class="navbar-brand fw-bold">
            <img class="img1" src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" alt="logo">
            <span class="text-light text-uppercase">ngular app</span>
            <p>
                fjkdsnvl,.sdnmvl,s
            </p>
        </a>
    </div>
</nav>
