<div class="w-50 mx-auto mt-3">
    <div class="card">
        <div class="d-flex justify-content-between align-items-center p-3">
            <img class="img2" src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" alt="logo">
            <h4 class="h4">Welocome <span class="fw-bold text-primary">{{name}}</span></h4>
        </div> 

        <ng-container *ngIf="!isQuizCompeted">
            <div class="d-flex justify-content-around p-3">
                <div class="score">
                    <h5>{{points}} Points</h5>
                </div>
                <div class="question-remain">
                    <span>Question {{currentQuestion + 1}} of {{questionList.length}}</span>
                </div>
                <div class="timer">
                    <h5>{{counter}} sec <i class="fa fa-cog fa-spin"></i>
                    </h5>
                </div>
            </div>
            <div class="progress mb-3">
                <div class="progress-bar progress-bar-striped bg-info " role="progressbar" [ngStyle]="{'width':progress+'%'}" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div> 
            <div class="question mx-3">
                <div class="card">
                    <h3 class="text-center">{{questionList[currentQuestion]?.questionText}}</h3>
                </div>
            </div> 
            <div class="options my-3 mx-3">
                <ol class="list-group " *ngFor="let option of questionList[currentQuestion]?.options">
                    <li appChangeBg [isCorrect]="option.currect" (click)="answer(currentQuestion+1,option)" class="list-group-item fw-bold">{{option.text}}</li>
                </ol>
            </div>
            <div class="d-flex justify-content-between">
                <button [disabled]="currentQuestion===0" class="btn " (click)="prevQuestion()"><i class="fa fa-chevron-left fa-2x text-primary"></i></button>
                <button (click)="resetGame()" class="btn "><i class="fa fa-refresh fa-2x text-primary"></i></button>
                <button [disabled]="currentQuestion===questionList.length-1" class="btn" (click)="nextQuestion()"><i class="fa fa-chevron-right fa-2x text-primary"></i></button>
            </div>
                </ng-container>

        <ng-container *ngIf="isQuizCompeted">
            <div class="row d-flex justify-content-between p-5">
                <img src="assets/party-popper.png" class="img-fluid col-md-6 col-sm-12 mx-auto" alt="">
                <div class="result text-center col-md-6 col-sm-12">
                    <h3>Congratulation!! <span class="text-primary">Below is your result</span></h3>
                    <p>Total Question attemted: {{questionList.length}}</p>
                    <p>Total Correct Answered: {{correctAnswer}}</p>
                    <p>Total in Correct Answered: {{inCorrectAnswer}}</p>
                    <p>Your score: {{points}} Points</p>
                </div>
                <div class="d-flex justify-content-center">
                    <button routerLink="/welcome" (click)="resetGame()" class="btn "><i class="fa fa-refresh fa-2x text-primary"></i></button>
                </div>
            </div>       
        </ng-container>
    </div>
</div>
